/* 
    Created on : 20/09/2018, 09:29:24
    Author     : professor
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

header{
    height: 50px;
    background-color: #EAEFF7;
}

main {
    height: 650px;
    padding: 15px;
    position: relative;
}

main fieldset {
    padding: 2%;
}

#logoagendamedica{
    width: 600px;
    position: absolute;
    top: 5px;
    margin-left: 200px;
}

#campodepesquisa{
    position: absolute;
    top: 300px;

    margin-left: 370px;
}

footer {
    height: 50px;
    background-color: #EAEFF7;
}

#tabela{
    width: 95%;
    margin: 10px auto;
    text-align: center;
    font-family: arial;
    border: 2px solid #0FACEA;
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#42d3ff 0%,
		#001466);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#42d3ff),
		to(#001466));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px solid #0e0140;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.4),
		inset 0px 0px 2px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.4),
		inset 0px 0px 2px rgba(255,255,255,0.5);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.4),
		inset 0px 0px 2px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}
