/* 
    Created on : 20/09/2018, 09:29:24
    Author     : professor
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

header{
    height: 50px;
    background-color: #EAEFF7;
}

main {
    height: 650px;
    padding: 15px;
    position: relative;
}

main fieldset {
    padding: 2%;
}

#logoagendamedica{
    width: 600px;
    position: absolute;
    top: 5px;
    margin-left: 200px;
}


#campodepesquisa{
    position: absolute;
    top: 300px;

    margin-left: 370px;
}

footer {
    height: 50px;
    background-color: #EAEFF7;
}

